/* Min-width width 992px */
@media (min-width: 992px) {
    /* General Styles */
    .p-heading {
      width: 65%;
    }
    /* end of general styles */
  
    /* Navigation */
    .navbar-custom .social-icons {
      display: block;
      margin-left: 0.5rem;
    }
  
    .navbar-custom .fa-stack {
      margin-left: 0.375rem;
      font-size: 0.8125rem;
    }
  
    .navbar-custom .fa-stack .hexagon {
      width: 1.625rem;
      height: 1.625rem;
      position: absolute;
      background: url("../images/hexagon-green.svg") center center no-repeat;
      background-size: 1.625rem 1.625rem;
      transition: all 0.2s ease;
    }
  
    .navbar-custom .fa-stack:hover .hexagon {
      background: url("../images/hexagon-white.svg") center center no-repeat;
      background-size: 1.625rem 1.625rem;
    }
  
    .navbar-custom .fa-stack-1x {
      font-size: 0.6875rem;
      line-height: 1.625rem;
      color: #fff;
      transition: all 0.2s ease;
    }
  
    .navbar-custom .fa-stack:hover .fa-stack-1x {
      color: #14bf98;
    }
    /* end of navigation */
  
    /* Header */
    .header .header-content {
      padding-top: 14rem;
      padding-bottom: 15rem;
    }
  
    .header .text-container {
      margin-top: 6.5rem;
    }
    /* end of header */
  
    /* Intro */
    .basic-1 {
      padding-top: 6.875rem;
    }
  
    .basic-1 .text-container {
      margin-bottom: 0;
    }
    /* end of intro */
  
    /* Description */
    .cards-1 .card {
      display: inline-block;
      max-width: 17.5rem;
      text-align: left;
      vertical-align: top;
    }
  
    .cards-1 div.card:nth-child(3n + 2) {
      margin-right: 2.5rem;
      margin-left: 2.5rem;
    }
    /* end of description */
  
    /* Services */
    .cards-2 .card {
      max-width: 18.25rem;
      display: inline-block;
      vertical-align: top;
    }
  
    .cards-2 .col-lg-12 div.card:nth-child(3n + 2) {
      margin-right: 1.25rem;
      margin-left: 1.25rem;
    }
    /* end of services */
  
    /* Details 1 */
    .accordion {
      height: 34.625rem;
    }
  
    .accordion .area-1 {
      width: 50%;
      height: 100%;
      display: inline-block;
    }
  
    .accordion .area-2 {
      width: 50%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
    }
  
    .accordion .accordion-container {
      max-width: 88%;
      margin-left: 2rem;
      padding-bottom: 0;
    }
  
    .accordion .accordion-title {
      width: 85%;
    }
    /* end of details 1 */
  
    /* Details 2 */
    .tabs {
      height: 36.125rem;
    }
  
    .tabs .area-1 {
      width: 50%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
    }
  
    .tabs .area-2 {
      width: 50%;
      height: 100%;
      display: inline-block;
    }
  
    .tabs .tabs-container {
      max-width: 88%;
      margin-left: 2rem;
      padding-top: 6.75rem;
      padding-bottom: 0;
    }
  
    .tabs .nav-tabs {
      justify-content: flex-start;
    }
    /* end of details 2 */
  
    /* Call Me */
    .form-1 {
      padding-top: 7rem;
    }
  
    .form-1 .text-container {
      margin-bottom: 0;
    }
    /* end of call me */
  
    /* Project Lightboxes */
    .lightbox-basic img {
      margin-bottom: 0;
    }
  
    .lightbox-basic h3 {
      margin-top: 0.375rem;
    }
  
    .lightbox-basic .btn-solid-reg,
    .lightbox-basic .btn-outline-reg {
      margin-bottom: 0;
    }
    /* end of project lightboxes */
  
    /* Team */
    .basic-2 .team-member {
      width: 12.75rem;
      max-width: 100%;
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }
    /* end of team */
  
    /* About */
    .counter .image-container {
      margin-bottom: 0;
    }
    /* end of about */
  
    /* Contact */
    .form-2 {
      padding-top: 6.875rem;
    }
  
    .form-2 .text-container {
      margin-bottom: 0;
    }
    /* end of contact */
  
    /* Extra Pages */
    .ex-header h1 {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  
    .ex-basic-2 {
      padding-bottom: 5rem;
    }
    /* end of extra pages */
  }
  /* end of min-width width 992px */
  