
@media (max-width: 600px) {

  @font-face {
    font-family: 'aranyamobile';
    src: url('../webfonts/FontsFree-Net-Carogna.ttf');
  }

  .post span {
    display: none;
  }

    .navbar-custom .navbar-brand.logo-image img {
      width: 7.5rem;
      height: 7.5rem;
      position: absolute;
      top: 0px;
      -webkit-backface-visibility: hidden;
    }

    #gallery{
      padding-bottom: 2rem;
    }
    
    .navbar-title{
      color: white;
      position: absolute;
      align-items: center;
      left: 25px;
      top: 26px;
      font-size: 19px;
    }
  
    .text-container h1 {
      font-family: 'aranyamobile';
      font-size: 30px;
    }
    
    .text-container .p-heading {
      font-family: 'aranyamobile';
      font-size: 15px !important;
    }

    .counter #counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .counter #counter .cell {
      min-height: 94px;
    }
    
    .header .header-content {
      padding-top: 18rem;
      text-align: right;
    }

    .header .text-container {
      font-family: 'aranya';
      font-weight: 200;
      float: right;
      margin-bottom: 4rem;
    }

    .p-heading {
      margin-bottom: 3.5rem;
      text-align: right;
    }

    .element-item {
      height: 110px;
    }


    .header_slider_0 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_2.JPG") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }


    .header_slider_1 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_5.jpg") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .header_slider_2 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_4.jpg") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .header_slider_3 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_3.JPG") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }


    .filter .element-item .element-item-overlay .mobile-more {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px !important;
        color: rgb(160, 158, 158);
        display: block;
    }

    .filter .element-item .element-item-overlay span {
        font-size: 10px !important;
        padding-left: 10px;
    }
  }
  