
@media (max-width: 600px) {

  @font-face {
    font-family: 'aranya';
    src: url('../webfonts/FontsFree-Net-Carogna.ttf');
  }

  .post span {
    display: none;
  }
  
    .text-container h1 {
      font-size: 30px;
    }
  
    .text-container .p-heading {
      font-size: 15px !important;
    }
  
    .header .header-content {
      padding-top: 13rem;
      padding-bottom: 7.5rem;
      text-align: right;
    }

    .header .text-container {
      font-family: 'aranya';
      font-weight: 200;
      float: right;
      margin-bottom: 4rem;
    }

    .p-heading {
      margin-bottom: 3.5rem;
      text-align: right;
    }

    .element-item {
      height: 110px;
    }


    .header_slider_0 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_2.JPG") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }


    .header_slider_1 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_5.JPG") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .header_slider_2 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_4.jpg") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .header_slider_3 {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../images/slide_3.jpg") center center no-repeat;
      background-size: cover;
      height: 50vh;
    }


    .filter .element-item .element-item-overlay .mobile-more {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px !important;
        color: rgb(160, 158, 158);
        display: block;
    }

    .filter .element-item .element-item-overlay span {
        font-size: 10px !important;
        padding-left: 10px;
    }
  }
  